# SVN files
.svn*

# EMACS temp files
*~

# Compiled source files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.bin
*.ld
*.dat
*.htm

# Matlab
*.autosave
*.slxc

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumps.db
build.info

# Build directories 
build*
bin*
.Xil*
.obj*

# Only .bit.gz and .mcs.gz should be committed to git
*.bit
*.mcs
*.gz
*.ltx
*.hdf
*.vho
*.zip
*.xsa
*.pdi
*.bif
*.elf
